<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1096487669057-r3qo3sj9ogi2iuooipb3sj8j83vrs4e0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1096487669057-r3qo3sj9ogi2iuooipb3sj8j83vrs4e0</string>
	<key>API_KEY</key>
	<string>AIzaSyCPTvJAQfw54sDJ__W6KGIXAw2Gdr9Chfw</string>
	<key>GCM_SENDER_ID</key>
	<string>1096487669057</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.airflare.globeApp</string>
	<key>PROJECT_ID</key>
	<string>globe-app-6acd6</string>
	<key>STORAGE_BUCKET</key>
	<string>globe-app-6acd6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1096487669057:ios:d1c17a8f8e5268e0</string>
	<key>DATABASE_URL</key>
	<string>https://globe-app-6acd6.firebaseio.com</string>
</dict>
</plist>